---
---

@import "themes/minimal.css";
@import "layout.css";

nav {
  
  h1 {
    font-size: 18px;
  }
  
  h2 {
    margin: 0 0 10px 0;
    font-size: 16px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    a {
      font-size: 13px;
      line-height: 28px;
      color:#39c;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}