<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        {% include analytics.html %}
    </head>
    <body>
        <div class="wrapper">
            <nav>
                <div class="scroll">
                    {% include nav.html %}
                </div>
            </nav>
            <section>
                <div id="contribute">
                    <a href="{{ site.repository }}/blob/{{ site.branch }}/{{ page.path }}" class="fa fa-github"> Contribute to this page</a>
                </div>
                {{ content }}
            </section>
            <footer>
                {% include footer.html %}
            </footer>
        </div>
    </body>
</html>
